server:
  port: 8083

spring:
  application:
    name: gateway
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins:
              - "http://localhost:3000"
            allowedOriginPatterns:
              - "http://localhost:*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
              - PATCH
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
            exposedHeaders:
              - "Authorization"
              - "Content-Type"
      routes:
        # Authorization Service
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/auth/**
          filters:
            - RewritePath=/auth/(?<path>.*), /$\{path}

        # Публичный доступ к аватаркам без JWT
        - id: avatars-public
          uri: http://localhost:8082
          predicates:
            - Path=/avatars/**,/uploads/avatars/**
          filters:
            - AddRequestHeader=X-Public-Access, true

        # Core API Service
        - id: core-api-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/**
          filters:
            - AddRequestHeader=X-Gateway-Request, true
            - PreserveHostHeader

        # WebSocket Server
        - id: websocket-service
          uri: ws://localhost:8092
          predicates:
            - Path=/ws/**
          filters:
            - RewritePath=/ws/(?<path>.*), /$\{path}
            - name: WebSocketTokenFilter

# JWT конфигурация
jwt:
  secret: SYDLF52DangerKeySYDLF9911894325962389476582937465986348957632897562387ww7sfusdfy9374hguif738794fgu9iw3g4f987uswuhfiuGIUDS9GDUSWHTPIWEHYS0DFS098DF98SDFSHDFUSH9374FISDU87SADASUDGHGHAISD7A9OSD823UGHRUIHGSDW9D78Y238RUIOSWADHFOUWHSSDFDDUHWWF9384FGSD
  expiration: 86400000

# URL конфигурация для сервисов
auth-service:
  url: http://localhost:8081

user-service:
  url: http://localhost:8082

chat-service:
  url: http://localhost:8082

message-service:
  url: http://localhost:8082

logging:
  level:
    com.messenger.gateway: DEBUG
    org.springframework.security: DEBUG
